input[type="submit"],
button{
	@extend %btn
}
.btn-outline{
	@extend %btn;
	background: transparent;
	color: $primary-color;

	&:hover,
	&:focus,
	&:active{
		box-shadow: none;
		text-shadow: none;
		color: $black;
		background: darken($white, 1%);
		border-color: lighten($primary-color, 5%);
	}
}