.form-group{
	position: relative;
	padding-bottom: 10px;
}
input[type="text"],
input[type='number'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='tel'],
input[type='date'],
.select2-container .select2-choice,
textarea,
select{
	@include border-radius(2px);
	background-color: $white;
	box-shadow: none;
	border: 1px solid darken($white, 15%);
	width: 100%;
	padding: rem(7);
	margin-bottom: 5px;
	font-size: 0.9rem;

	&:focus,
	&:active{
		outline: none;
		background-color: darken($white, 2%);
		box-shadow: none;
	}
}



.select2-container .select2-choice{
	padding: 0 0 0 8px !important;
}
.select2-search{
	background: lighten($grey, 5%);
	padding-top: 5px;
}