div#sb_instagram {
    width: 100% !important;
}
.insta-submit-btn {
	padding: 0.5rem;
	input {
	    float: left;
	    background: #7b7b7b;
	    border: 0;
	    box-shadow: none;
	    color: #fff;
	    border-radius: 0;
	    padding: 15px 40px !important;
	    font-weight: normal;
	    font-size: 16px;
	    &:hover {
	    	box-shadow: none;
	    }
	}
} 

.insta-description{
	max-width: 832px;
	padding-left: 30px;
	ul {
	    margin: 0;
	    padding: 0 7px;
	    font-style: italic;
	    color: #7b7b7b;
	    font-size: 16px;
	    li {
	    	list-style: none;
	    	position: relative;
	    	padding-left: 11px;
	    	&:before {
	    		content: "*";
			    font-size: 27px;
			    position: absolute;
			    left: 0;
	    	}
	    }
	}
	p {
	    text-align: left;
	    left: 0;
	    padding: 0 7px;
	    margin: 25px 0 !important;
	    color: #7b7b7b;
	    font-style: italic;
	    font-size: 16px !important;
	}
}
.insta-holder.page-content {
	input:not(.wpcf7-submit),
	textarea,
	input::-webkit-input-placeholder {
	    font-size: 16px;
	    color: #7b7b7b;
	}

	input {
	    padding: 0 7px;
	}
}

@media screen and (max-width: 767px) {
	.three-col.mx-0.mb-2.px-5.h-42.br-0 {	    
    	width: 100% !important;	  
	}
}

.page-content.insta-form-wrapper {
    max-width: 900px;
}

.insta-holder.page-content {
	.sbi_follow_btn {
	    display: none !important;
	}
	a.sbi_load_btn {
	   	margin-top: 1.25rem !important;
	    background: transparent !important;
	    text-transform: uppercase;
	    border: 1px solid #4E4D4D !important;
	    padding: .625rem .9375rem !important;
	    box-shadow: none;
	    text-shadow: none;
	    border-radius: 0 !important;
	    &:hover {
		    box-shadow: none;
		    text-shadow: none;
		    color: #000 !important;
		    background: #fcfcfc !important;
		    border-color: #5b5a5a;
		}
	}
}

div.wpcf7-response-output {
    margin: 3em 0.5em 1em !important;
}

span.wpcf7-not-valid-tip {   
    position: absolute;
    font-size: 11px;
}