.olgasus-mini-cart{
	@include position(fixed, 0 -320px 0 null);
	@include transition(all 0.35s linear);
	width: 450px;
	background: $white;
	font-weight: 400;
	font-size: 13px;
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 15px;

	@include media($smallmobile) {
		width: 320px;
	}

	.mini-cart-header{
		position: relative;

		h4{
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 1px;
			margin:0;
			padding: 0 0 10px;
			border-bottom: 2px solid $grey;
		}

		#mc-close{
			@include position(absolute, -2px 0 null null);
			background: $white;
			cursor: pointer;
			text-align: center;
			line-height: 1.5;
			padding: 4px 7px;
			font-size: 12px;
			color: $primary-color;
			text-decoration: underline;
		}
	}

	ul{
		padding: 0 !important;
		margin: 0;
		list-style-type: none;

		li{
			border-bottom: 1px solid $grey;

			&:before,
			&:after{
				content: '';
				display: table;
				clear: both;
			}

			&.mini_cart_item{
				display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -webkit-box-align: center;
			    align-items: center;
			    padding: 10px 0;

			    .mini-cart-list{
			    	display: -ms-flexbox;
		    	    display: -webkit-flex;
		    	    display: flex;
		    	    -ms-flex-align: center;
		    	    -webkit-align-items: center;
		    	    -webkit-box-align: center;
		    	    align-items: center;
		    	    overflow: hidden;
		    	    width: calc(100% - 23px);

		    	    .product-details{
		    	    	display: -ms-flexbox;
	    	    	    display: -webkit-flex;
	    	    	    display: flex;
	    	    	    -ms-flex-align: center;
	    	    	    -webkit-align-items: center;
	    	    	    -webkit-box-align: center;
	    	    	    align-items: center;
	    	    	    overflow: hidden;
	    	    	    width: 100%;

	    	    	    .product-basic-info{
	    	    	    	width: 70%;
	    	    	    	float: left;
	    	    	    	padding-left: 5px;
	    	    	    	padding-right: 5px;
	    	    	    	overflow-wrap: break-word;

	    	    	    	.product-name{
	    	    	    		font-size: 1rem;
	    	    	    		font-weight: 100;

	    	    	    		@include media($tablet) {
									font-size: 13px;
	    	    	    		}
	    	    	    	}
	    	    	    }

	    	    	    .product-quantity{
	    	    	    	float: right;
	    	    	    }
		    	    }
			    }
			}

			a{
				display: inline-block;
			    font-weight: 600;
			    text-decoration: none;

			    &:hover,
			    &:focus,
			    &:active{
			    	color:$black;
			    }

				&.remove{
				    @include size(23px);
				    @include transition(all, 0.3s ease-in-out);
				    //float: right;
				    background: $white;
				    color: lighten($primary-color, 5%) !important;

				    display: block;
			        font-size: 20px;
			        font-weight: 400;
			        text-align: center;
			        line-height: 1;
			        border-radius: 100%;
			        text-decoration: none;
			        border: 0;

				    &:hover,
				    &:focus,
				    &:active{
				        background: lighten($primary-color, 5%);
				        color: $grey !important;
				    }
				}

				img{
					float: left !important;
					margin-right: 4px;
					width: 50px !important;
					height: auto;
					box-shadow: none;
				}
			}
		}
	}
	
	.total{
		padding: 10px 0;
		margin: 0;
		text-align: right;
		font-size: 12px;

		.amount{
			font-weight: 500;
			font-size: 20px;
		}
	}

	.buttons{
		text-align: right;

		.button{
			@extend %btn;
			font-weight: 100;
			letter-spacing: 1px;
			text-decoration: none;
		    margin: 0 10px 0 0;
		    line-height: 1;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 10px !important;

		    &:last-of-type{
		    	margin-right: 0;
		    }

			&:hover,
			&:focus,
			&:active{
				color: $white;
				outline: none;
			}
		}
	}

	form[name='olgasus-checkout-select']{
		> div{
		    width: 48%;
		    display: inline-block;

		    &:last-of-type{
		        width: 100%;
		    }
		    input{
		        display: none;

		        &:checked{
		            ~ label{
		                &:after{
		                    content: '\f05d';
		                    font-family: fontAwesome;
		                    color: #777;
		                }
		                
		                img{
		                    @include filter(grayscale(0%));
		                    opacity: 1;
		                }
		            }
		        }

		        ~ label img{
		            @include filter(grayscale(100%));
		            width: 100px;
		            vertical-align: middle;
		            margin-bottom: 15px;
		            opacity: 0.4;
		            cursor: pointer;
		        }
		    }

		    button{
		        @extend %btn;
		        width: 100%;
		        font-size: rem(13);
		        font-weight: 300;
		        letter-spacing: 1.5px;
		        padding: rem(10) rem(15) !important;
		    }
		}
	}

	.minicart-brand-name{
		display: none !important;
	}
	.quantity .qty{
		background: $white !important;
	}
}

// .shift-body-left{
// 	#page{
// 		left: -300px;

// 		.site-header{
// 			margin-right: 300px;
// 		}
// 	}
// }

.side-nav{
	@include position(fixed, 0 0 0 0);
	width: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: -1;

	&.open{
		visibility: visible;
		opacity: 1;
		z-index:999;

		.olgasus-nav-overlay{
			@include position(fixed, 0 0 null null);
			width: 100%;
			height: 100%;
			background: rgba($primary-color, 0.4);
		}

		.olgasus-mini-cart{
			visibility: visible;
			opacity: 1;
			right: 0;
		}
	}
}

// #page,
.side-nav,
.olgasus-nav-overlay,
.olgasus-mini-cart{
	@include transition(all 0.35s linear);
}