%common-circle-style {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}


span.olg-step-circle {
    background: #7b7b7b;
    color: #fff;
    height: 45px;
    width: 45px;
    left: 0;
    right: 0;
    margin: auto;    
    @extend %common-circle-style;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
}


#sb_instagram.sbi_col_4 #sbi_images .sbi_item {
    position: relative;
    &:before {
        counter-increment: my-sec-counter;
        content: counter(my-sec-counter);
        position: absolute;
        z-index: 99;
        background: #fff;
        left: 11px;
        top: 10px;
        height: 40px;
        width: 40px;        
        font-size: 21px;
        color: #4E4D4D;
        @extend %common-circle-style;
    }
}