#page{
	@include transition(all 0.35s linear);
	position: relative;
	left:0;
}

.page-content{
	margin: 2em 0 0;
	@include outer-container();

	@include media($ondesktop) {
		@include padding(null rem(20));
	}

	@include media($ontablet) {
		margin-top: 1em;
	}

	@include media($tablet) {
		@include padding(null 10px);
	}
}

.entry-content{
	@extend .page-content;
	@include outer-container(1100px);

	@include media($tablet) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.page-content{
	.product{
		@include outer-container(1100px);
	}
}

.half{
	@include span-columns(6);
	@include media($tablet) {
	    @include span-columns(12);
    }
}

.three-col{
	@include span-columns(4);
	@include media($tablet){
		@include span-columns(12);
	}
}

.hidden-xs{
	@include media($tablet) {
		display: none !important;
	}
}
