.section-title{
	@extend %title-style;
	font-size: 20px;
	font-weight: 100;

	@include media($tablet) {
		font-size: 16px;
	}
}

.inner-page-title,
.entry-header{
	position: relative;
	min-height: rem(200); 
	background-color: $primary-color;
	overflow: hidden;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	&:before{
		content: "";
		@include position(absolute, 0 0 0 0);
		background: rgba($black, 0.4);
		z-index:9;

		body.page-template-template-contact & {
			background: rgba($black, 0);
		}
	}

	h1{
		@include hvcenter();
		text-transform: uppercase;
		font-size: 35px;
		letter-spacing: 0.4125rem;
		font-weight: 100;
		z-index: 10;
		color: $white;
		margin: 0;
		text-align: center;

		body.page-template-template-contact & {
			color: #7b7b7b;
		}

		@include media($ontablet) {
			width: 100%;
		}
	}

	@include media($tablet) {
		min-height: 15.75rem;
		height: 15.75rem;
	}
}

.search{
	.inner-page-title{
		h1{
			@include media($ondesktop) {
				width: 95%;
			}
			@include media($tablet) {
				font-size: 18px;
			}
		}
	}
}