#ajax-product-popup{
	display: none;
	background: $white;
    max-width: 70%;
    max-height: 90%;
    padding: 30px;
    overflow-y: auto;
    // position: fixed !important;
    // top:0 !important;
    top: 50% !important;
    left: 50% !important;
    @include transition(all 0.35s ease);
    @include transform(translate(-50%, -50%));

    @include media($desktop-md) {
        min-width: 900px;
    }

    @include media($ontablet) {
        min-width: 75%;
        max-width: 80%;
    }

    @include media($smallmobile) {
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
    }

    .b-close{
        @include position(absolute, 5px 10px null null);
        cursor: pointer;
        font-size: 22px;
        color: #aaa;
    }

    #ajax-product-content{
    	> div{
    		letter-spacing: -0.36em;
    	}

        div.images{

            div.thumbnails{
                width: 70px !important;
                // max-height: 480px !important;
                margin-right: 10px;

                ~ .easyzoom-wrap{
                    width: calc(100% - 70px) !important;
                }

                div.product-img-thumb{
                    width: 70px !important;
                    height: 100px !important;
                }
            }

            .easyzoom-wrap{
                max-height: 480px !important;

                .easyzoom{
                    .woocommerce-main-image{
                        display: block;
                        height: 480px !important;
                        background: #f0f0f0;
                        overflow: hidden;

                        @include media($tablet) {
                            height: 320px !important;
                        }
                    }
                }
            }
        }

        .entry-summary{
            h1{
                font-size: 25px !important;
                color: #4F4D4E!important;
            }

            .wpallshare-theme4 ul {
                margin-top: 15px !important;
            }

            p{
                &.price{
                    font-weight: 400 !important;
                    font-size: 1.3rem !important;
                    margin-top: 5px !important;
                }
            }

            button.button,
            .qty{
                height: 29px !important;
                padding: 0 15px;
                font-weight: 600 !important;
            }

            .qty{
                padding: 0 6px;
            }
        }
    }

    .images,
    .entry-summary{
    	display: inline-block;
    	letter-spacing: normal;
    	width: 50%;
        vertical-align: top;

        @include media($ontablet) {
            width: 100%;
            display: block;
            margin-bottom: 15px !important;
        }
    }

    .entry-summary{
    	padding-left: 30px;
        margin-bottom: 0 !important;

        .wpallshare-theme4 ul{
            margin-bottom: 0 !important;
        }

        @include media($ontablet) {
            padding-left: 0;
            padding-top: 10px;
        }
    }

    .but{
        left: 25px;

        span.next,
        span.prev{
            @include media($ontablet) {
                left: 20px;
            }
        }
    }
}

// .b-modal.__b-popup1__ {
//     top: 50%;
//     left: 50%;
//     bottom: 50%;
//     right: 50%;
//     opacity: 0;
//     // z-index: -1;
//     @include transition(all 0.25s ease);
// }

.product.has-default-attributes.has-children>.images {
    opacity : 1!important;
}

#ajax-product-content .product-type-variable .single_variation_wrap  .price {
    display:block !important;
}

#ajax-product-content .product-type-variable div[itemprop="offers"] .price {
    display:none;
}

#ajax-product-content .swatchinput {
    display: inline-block;
    padding-right: 7px;
    padding-bottom: 3px
}