div.nicescroll-rails{
	display: block !important;
}


#scrollToTop{
	@include position(fixed, null 15px 15px null);
	@include transition(background, 0.25s ease-in-out);
	@include size(35px);
	line-height: 35px;
	color: $white;
	background-color: lighten($primary-color, 7%);
	text-align: center;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active{
		background-color: $primary-color;
	}
}