.woocommerce{
    // Woocommerce Pagination
    nav.woocommerce-pagination{
        > ul{
            &.page-numbers{
                border: none;

                li{
                    @include size(32px);
                    border: 1px solid lighten($black, 58%);
                    margin: 2px;

                    a{
                        font-weight: 700;
                        color: lighten($black, 35%);

                        &:visited{
                            color: $primary-color;
                        }
                    }

                    span.current{
                        font-weight: 700;
                        background: lighten($black, 65%);
                        color: $white;
                    }
                }
            }
        }
    }

    // Woocommerce Tabs
    .product{
        .woocommerce-tabs{
            text-align: center;
            padding-top: 50px;

            @include media($ontablet) {
                padding-top: 10px;
            }

            &:before{
                content: '';
                display: table;
                clear: both;
            }

            > ul.tabs.wc-tabs{
                margin: 0;
                margin: 0 auto;
                position: relative;
                margin-bottom: 20px;

                &:after{
                    @include position(absolute, null 0 0 0);
                    @include size(100% 1px);
                    content: '';
                    background-color: $grey;

                }

                &:before{
                    border-bottom: 0;
                }

                li{
                    @include border-radius(0);
                    border: none;
                    background: none;

                    &:before,
                    &:after{
                        box-shadow: none;
                        border: none;
                    }

                    &.active{
                        border-bottom: 1px solid $primary-color;
                        &:before,
                        &:after{
                            box-shadow: none;
                            border: none;
                        }
                    }

                    a{
                        text-transform: uppercase;
                        font-weight: 100;
                        font-size: 20px;
                        letter-spacing: 0.3125rem;
                        color: lighten($black, 75%);

                        @include media($smallmobile) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    // Woocommerce Shopping Cart
    table.shop_table{
        @include border-radius(0);
        border: none;

        > thead{
            th{
                font-weight: 500;
                letter-spacing: 1px;
                padding: 9px 12px;
                font-size: 15px;
                text-transform: uppercase;
                // background: lighten($grey, 5%);

                @include media($tablet) {
                    letter-spacing: 0.5px;
                    font-size: 14px;
                    padding: 5px;
                }
            }
        }

        > tbody{
            font-size: 14px;

            a{
                text-decoration: none;

                &.remove{
                    @include size(24px);
                    @include transition(all, 0.3s ease-in-out);
                    font-size: 25px;
                    line-height: 24px;
                    background: $white;
                    color: lighten($primary-color, 5%) !important;
                    font-weight: 300;

                    &:hover,
                    &:focus,
                    &:active{
                        background: $white;
                        color: $black;
                    }
                }
            }

            td{
                &.actions{
                    padding-top: 20px !important;

                    @include media($tablet) {
                        padding-left:0;
                        padding-right:0;
                    }
                }

                &.product-name{
                    @include media($smallmobile) {
                        max-width: 100px;
                        word-wrap: break-word;
                    }
                }
            }

            .coupon{
                input[type='text'].input-text{
                    line-height: 1.35 !important;
                    width: 110px !important;
                    background: $white;
                }

                input{
                    @include media($tablet) {
                        width: 55% !important;
                    }
                }
            }
        }

        > tfoot{
            th,td{
                font-weight: 600;
                font-size: 14px;
            }
        }

        td{
            @include media($tablet) {
                padding: 5px;
            }
        }

        .product-thumbnail{
            @include media($tablet) {
                display: table-cell !important;
            }
        }
    }
    
    .cart-collaterals{
        .cart_totals{
            // @include box-shadow(0px 0px 0px 5px lighten($grey, 5%));
            border: 1px solid darken($grey, 15%);
            // background: lighten($grey, 5%);
            padding: 40px;

            h2{
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .wc-proceed-to-checkout form{
                > div{
                    input{
                        // display: block;

                        // &:checked{
                        //     ~ label{
                        //         &:after{
                        //             opacity: 1;
                        //             @include transform(scale(1) translateX(0));
                        //         }
                                
                        //         img{
                        //             @include transition(all 0.25s ease);
                        //             @include filter(grayscale(0%));
                        //             opacity: 1;
                        //         }
                        //     }
                        // }

                        // ~ label{
                        //     &:after{
                        //         @include transition(all 0.25s ease);
                        //         content: '\f05d';
                        //         font-family: fontAwesome;
                        //         color: #777;
                        //         opacity: 0;
                        //         display: inline-block;
                        //         @include transform(scale(0.5) translateX(-25px));
                        //     }
                        //     img{
                        //         // @include filter(grayscale(100%));
                        //         @include transition(all 0.25s ease);
                        //         width: 100px;
                        //         vertical-align: middle;
                        //         margin-bottom: 15px;
                        //         opacity: 0.8;
                        //         cursor: pointer;

                        //         &:hover{
                        //             @include filter(grayscale(0%));
                        //             opacity: 0.9;
                        //         }
                        //     }
                        // }
                    }

                    button{
                        @extend %btn;
                        width: 100%;
                        font-size: 10px;
                        font-weight: 300;
                        letter-spacing: 1.5px;
                        padding: rem(10) rem(15) !important;
                        margin-top: 20px;
                    }
                }
            }
        }

        .shop_table{
            tbody{
                th,
                strong{
                    font-weight: 400;
                }

                td{
                    &.actions{
                        padding-top: 20px !important;
                    }
                }
            }
        }

        .wc-proceed-to-checkout{
            a{
                &.checkout-button{
                    @extend %btn;
                    font-weight: 400;
                    letter-spacing: 2px;
                    font-size: 13px;

                    @include media($desktop){
                        font-size: 14px;
                    }
                }
            }
        }

    }

    //buttons in wocommerce cart
    input[type='submit'],
    a.wc-backward{
        &.button{
            @extend %btn;
            font-size: rem(13);
            font-weight: 300;
            font-size: 10px;
            letter-spacing: 1.5px;
            padding: rem(10) rem(15) !important;

            &:disabled{
                color: $white;
            }
        }
    }

    p{
        &.cart-empty{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-align: center;
        }

        &.return-to-shop{
            text-align: center;
        }
    }

    // order received
    .woocommerce-thankyou-order-received{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include media($desktop){
            font-size: 16px;
        }
    }

    .woocommerce-thankyou-order-details{
        // @include box-shadow(0px 0px 0px 5px lighten($grey, 5%));
        // background: lighten($grey, 5%);
        border: 1px dashed $grey;
        padding: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: table;

        li{
            &:last-of-type{
                margin-right:0;
                padding-right: 0;
            }

            @include media($tablet){
                width: 50%;
                padding: 0;
                margin:0;

                &:nth-of-type(-n+2){
                    border-bottom: 1px dashed #d3ced2;
                    padding-bottom: 10px;
                }

                &:nth-of-type(n+3){
                    padding-top: 10px;
                }

                &:nth-of-type(2n){
                    border-right: 0;
                }
            }
        }
    }

    // lost reset password
    .lost_reset_password{
        text-align: center;

        .form-row-first{
            width: 100%;

            input{
                max-width: 420px;
            }
        }
    }

    //reviews comments
    #reviews{
        #comments{
            ol{
                &.commentlist{
                    padding-left: 0;

                    li{
                        .comment_container{
                            position: relative;

                            img.avatar{
                                @include position(absolute, 10px 0 null 0);
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }

                        .comment-text{
                            @include border-radius(0);
                            padding: 50px 10px 10px;
                            max-width: 600px;
                            margin-left: auto;
                            margin-right: auto;

                            .star-rating{
                                @include margin(null auto 10px auto);
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // REview Form
    #review_form{
        #respond{
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            h3#reply-title{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                cursor: pointer;
                background: $grey;
                display: inline-block;
                padding: 5px 10px;
                font-size: 0.9rem;

                &:after{
                    content: ' + ';
                }
            }

            #commentform{
                display: none;
                padding: 40px;
                background: #fafafa;
                margin-top: 20px;
                position: relative;

                &:after{
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(245, 245, 245, 0);
                    border-bottom-color: #fafafa;
                    border-width: 20px;
                    margin-left: -20px;
                }
            }

            .form-submit{
                input#submit{
                    @extend %btn;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }
    }

    // forms
    form{
        &.checkout_coupon,
        &.login,
        &.register{
            @include border-radius(0);
        }
    }
    
    //checkouts
    &-checkout{
        .woocommerce-info{
            background: $white;
            color: $primary-color;
            font-weight: 500;
            border: 0;
            padding-right: 10px !important;
            border-top: 1px solid #aaa;
            text-transform: none;

            &:before{
                color: $primary-color;
            }

            a{
                border-color: #aaa;
                color: $primary-color;
                margin-left: 10px;

                @include media($tablet) {
                    display: inline-block;
                    font-size: 11px;
                }
            }
        }
    }

    // archive page no product
    &-page{
        &.archive{
            .products{
                > .woocommerce-info{
                    background: $white;
                    border-color: $white;
                    color: lighten($primary-color, 5%);
                    font-weight: 500;
                    text-align: center;
                    padding: 50px 10px !important;

                    &:before{
                        content: '';
                        font-family: fontAwesome;
                        @include position(absolute, 50% null null 50%);
                        @include transform(translate(-50%, -50%));
                        color: rgba($black, 0.1);
                        font-size: 54px;
                        display: none;
                    }
                }
            }

            .page-content{
                max-width: 1360px;
                padding-left: 20px;
                padding-right: 20px;

                @include media($desktop) {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                @include media($ontablet) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    div.product{
        @include media($tablet) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &-cart{
        table{
            &.cart{
                img{
                    width: 82px;
                }
            }
        }
    }

    .quantity{
        .qty{
            background: $white;
        }
    }

}

//woocommerce messages style
.woocommerce-info,
.woocommerce-error,
.woocommerce-message{
    @extend %woocommerce-msg;
    padding-right: 120px !important;

    a{
        color: $white;
        letter-spacing: 1px;
        text-decoration: none;
        border: 1px dotted lighten($black, 15%);
        padding: 2px 5px;

        &.button{
            @include position(absolute, 50% 10px null null);
            @include transform(translateY(-50%));
            @include border-radius(0);
            font-weight: 400;
            font-size: 11px;
            padding: 8px 15px;
            color: $primary-color;
        }
    }
}

body.woocommerce-cart .woocommerce-message a {
    display: none;
}

.woocommerce-order-received{
    h2,h3{
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: .2125rem;
    }
    address{
        font-style: normal;
        font-weight: 100;
    }
}