<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/* CUSTOM */
/* HELPERS */
/* BASIC COLOR */
/* FONTS */
/* FONT WEIGHT */
/* MIXINS */
.page-hero-title { font-weight: 100; letter-spacing: .3125rem; }
@media screen and (max-width: 767px) { .page-hero-title { letter-spacing: 0.125rem; } }

header .menu-toggle { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; background: #4E4D4D; color: #fff; text-transform: uppercase; border: 1px solid #4E4D4D; padding: 0.625rem 0.9375rem; box-shadow: none; text-shadow: none; }
header .menu-toggle:hover, header .menu-toggle:focus, header .menu-toggle:active { outline: none; box-shadow: none; text-shadow: none; background: #5b5a5a; border-color: #5b5a5a; }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }

.mb-2 { margin-bottom: 1rem !important; }

.w-100 { width: 100% !important; }

.px-5 { padding-left: .5rem; padding-right: .5rem; }

.h-42 input { height: 50px; }

.br-0 input { border-radius: 0; }

.three-col.mx-0.mb-2.px-5.h-42.br-0 { width: 33.33%; }

.olga-section-title { display: inline-block; position: relative; margin-bottom: 35px !important; }

.has-line:after { content: ""; width: 54px; height: 2px; position: absolute; background: #7b7b7b; bottom: 0; left: 0; }

.text-left { text-align: left; }

.has-line-border { position: relative; }
.has-line-border span { background: #fff; padding: 0 30px; z-index: 9; position: relative; }
.has-line-border:after { content: ""; height: 1px; width: 100%; background: #eee; position: absolute; left: 0; bottom: 14px; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-x: hidden; }
html.js { margin-top: 0 !important; }

body { margin: 0; overflow-x: hidden; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; color: #4E4D4D; text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; color: #4E4D4D; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

body { background: #fff; /* Fallback for when there is no custom background color defined. */ }
@media screen and (max-width: 767px) { body { overflow-x: hidden; } }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

ul, ol { margin: 0 0 1.5em 3em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #ccc #ccc #bbb; border-radius: 3px; background: #e6e6e6; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.8); font-size: 12px; font-size: 0.75rem; line-height: 1; padding: .6em 1em .4em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #ccc #bbb #aaa; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { border-color: #aaa #bbb #bbb; box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }

select { border: 1px solid #ccc; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #111; }

textarea { width: 100%; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation { clear: both; display: block; float: left; width: 100%; }

.main-navigation ul { display: none; list-style: none; margin: 0; padding-left: 0; }

.main-navigation li { float: left; position: relative; }

.main-navigation a { display: block; text-decoration: none; }

.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute; top: 1.5em; left: -999em; z-index: 99999; }

.main-navigation ul ul ul { left: -999em; top: 0; }

.main-navigation ul ul a { width: 200px; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul { display: block; }

@media screen and (min-width: 991px) { .menu-toggle { display: none; }
  .main-navigation ul { display: block; } }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em; overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

#wpadminbar { display: none; }

body { font-family: "Raleway", "Trebuchet Ms", sans-serif; color: #4E4D4D; line-height: 1.5; }

p { margin-bottom: 1.5em; line-height: 1.4; font-weight: 100; }

ins { text-decoration: none; }

b, strong { font-weight: 500; }

.preloader { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.99); z-index: 9999999; }

.icon-credit { position: absolute; top: 50%; -webkit-animation: scale 2s ease infinite; -o-animation: scale 2s ease infinite; -o-animation: scale 2s ease infinite; animation: scale 2s ease infinite; font-size: 50px; color: #1a1a1a; z-index: 99999999; width: 100%; text-align: center; }
.icon-credit img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@-webkit-keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
@-moz-keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
@keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
/* .position-fixed{
	@include position(fixed, 0 0 null 0);
} */
#page { -webkit-transition: width 0.35s ease-in-out; -moz-transition: width 0.35s ease-in-out; transition: width 0.35s ease-in-out; }

.overlayed { /* #page{
	@include transform(translate(220px, -60px));
	width: calc(100% - 220px);
} */ }
@media screen and (max-width: 991px) { .overlayed .site-header { top: -55px !important; } }

.position-fixed.site-header { position: fixed; top: -40px; right: 0; left: 0; z-index: 9997; background: #fff; padding-top: 40px; }
@media screen and (max-width: 991px) { .position-fixed.site-header { padding-top: 20px; top: 0; } }
.position-fixed.site-header .site-branding { /*  @include position(fixed, -100px null null null); width: 120px; opacity:0; top: -20px; height:0; padding-top:0; */ display: none; }
.position-fixed.site-header .site-branding-small { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s; opacity: 1; visibility: visible; position: fixed; top: 10px; }
@media screen and (max-width: 991px) { .position-fixed.site-header .site-branding-small { display: none; } }
@media screen and (max-width: 991px) { .position-fixed.site-header .site-branding { opacity: 1; position: relative; padding-top: 20px; opacity: 1; visibility: visible; text-align: center; padding-bottom: 10px; top: -20px; } }
.position-fixed .main-navigation { text-align: center; z-index: 1000; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
@media screen and (max-width: 991px) { .position-fixed .main-navigation .menu-toggle { position: fixed; top: 10px !important; } }
@media screen and (min-width: 1367px) { .position-fixed .main-navigation { margin-bottom: 0; } }
@media screen and (max-width: 991px) { .position-fixed .header-accessories { /*  top: 50px; right: 0; background: darken($white, 5%);
 > div{ 	&.ha-holder{ 		display: block; 		padding: 5px 0;
 		#user-account{ 			top: 0; 			right: 20px; 		}
 		span{ 			&.cart-counter{ 				top: -2px; 				right: 0; 			} 		} 	} } */ } }
.position-fixed .header-accessories .ha-holder { padding: 7px 0; }
.position-fixed .header-accessories .ha-holder span.cart-counter { top: 10px; }

.site-header { -webkit-transition: all 0.35s linear; -moz-transition: all 0.35s linear; transition: all 0.35s linear; background: #fff; z-index: 9997; }
.site-header img { max-width: 600px; margin: 0 auto; }
.site-header .site-branding { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; position: relative; padding-top: 20px; opacity: 1; visibility: visible; text-align: center; padding-bottom: 10px; top: 0; }
.site-header .site-branding-small { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; -webkit-transition-delay: 0.15s; -moz-transition-delay: 0.15s; transition-delay: 0.15s; position: fixed; top: -30px; left: 10px; opacity: 0; visibility: hidden; }
.site-header .site-branding-small img { width: 120px; }
@media screen and (max-width: 991px) { .site-header .site-branding { padding-top: 17px; padding-bottom: 14px; } }
@media screen and (min-width: 1367px) { .site-header .site-branding img { max-width: 500px; padding-top: 50px; padding-bottom: 10px; } }
@media screen and (max-width: 991px) { .site-header .site-branding img { width: 120px; } }
@media screen and (max-width: 991px) { .site-header { border-bottom: 1px solid #eee; } }

header .main-navigation { background: #fff; }
@media screen and (min-width: 1367px) { header .main-navigation { margin-bottom: 10px; } }
header .main-navigation > div { display: table; margin: 0 auto; position: relative; }
header .main-navigation > div ul { text-align: center; }
header .main-navigation > div ul li { display: inline; }
header .main-navigation > div ul li a { color: #4E4D4D; padding: 10px 15px; text-transform: uppercase; font-size: 13px; letter-spacing: 2px; font-weight: 100; }
@media screen and (min-width: 1367px) { header .main-navigation > div ul li a { font-size: 15px; } }
header .main-navigation.toggled .menu-toggle { left: 225px; top: 65px; }
@media screen and (max-width: 991px) { header .main-navigation.toggled ul { position: fixed; top: 0; right: auto; bottom: 0; left: 0px; border-right: 1px solid #eee; width: 220px; background: #fff; z-index: 9999; }
  header .main-navigation.toggled ul li { display: block; width: 100%; text-align: left; border-bottom: 1px solid #eee; } }
header .menu-toggle { position: absolute; top: 11px; left: 18px; z-index: 999; padding: 0; height: 30px; width: 30px; -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; color: #4E4D4D; font-size: 24px; background: none; border: none; }
header .menu-toggle:hover, header .menu-toggle:focus, header .menu-toggle:active { background: none; border: none; }

.header-accessories { position: absolute; right: 15px; }
.header-accessories > div.ha-holder { display: inline-block; width: 24px; font-size: 13px; padding: 0; text-align: center; position: relative; z-index: 2; }
@media screen and (max-width: 767px) { .header-accessories > div.ha-holder { width: 22px; } }
.header-accessories > div.ha-holder > a { width: 22px; height: 22px; display: block; }
.header-accessories > div.ha-holder span.cart-counter { position: absolute; top: 7px; right: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; font-size: 11px; color: #fff; width: 18px; height: 18px; line-height: 17px; z-index: 1; }
@media screen and (max-width: 991px) { .header-accessories > div.ha-holder span.cart-counter { top: 3px; } }
@media screen and (max-width: 767px) { .header-accessories > div.ha-holder span.cart-counter { right: 2px; } }
.header-accessories > div.ha-holder #user-account { position: absolute; top: 120%; right: 0; -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; opacity: 0; visibility: hidden; width: 120px; background: #fff; border: 1px solid #eee; text-transform: uppercase; letter-spacing: 1.5px; z-index: 99; }
.header-accessories > div.ha-holder #user-account.open { display: block; }
.header-accessories > div.ha-holder #user-account ul { margin: 0; padding-left: 0; list-style-type: none; }
.header-accessories > div.ha-holder #user-account ul li { text-align: left; padding-left: 10px; }
.header-accessories > div.ha-holder #user-account ul li a { color: #4E4D4D; display: block; text-decoration: none; line-height: 2; }
.header-accessories > div.ha-holder #accountToggler { position: relative; }
@media screen and (min-width: 992px) { .header-accessories > div.ha-holder { padding-top: 5px; } }
@media screen and (min-width: 1367px) { .header-accessories > div.ha-holder { font-size: 15px; padding-top: 7px; } }
.header-accessories > div.ha-holder:nth-child(2):hover #user-account { opacity: 1; visibility: visible; top: 80%; }
@media screen and (max-width: 991px) { .header-accessories { top: 12px; } }

#search-wrapper { display: none; margin-top: 39px; }
@media screen and (max-width: 991px) { #search-wrapper { margin-top: 0; } }
#search-wrapper .search-group { display: table; width: 100%; position: relative; }
#search-wrapper .search-group input, #search-wrapper .search-group button, #search-wrapper .search-group input[type='submit'] { display: table-cell; width: 100%; margin-bottom: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; height: 40px; font-size: 15px; }
#search-wrapper .search-group input[type='search'] { padding-right: 50px; -webkit-appearance: none; }
#search-wrapper .search-group input[type='search']:focus, #search-wrapper .search-group input[type='search']:active { -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }
#search-wrapper .search-group button, #search-wrapper .search-group input[type='submit'] { position: absolute; top: 0; right: 0; bottom: 0; -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-shadow: none; text-align: center; width: 50px; background: #4E4D4D; color: #fff; border-color: #4E4D4D; }
#search-wrapper .search-group button i, #search-wrapper .search-group input[type='submit'] i { vertical-align: top; margin-top: -2px; }

@media screen and (max-width: 991px) { .site-content { margin-top: 55px; } }

@media screen and (max-width: 991px) { #overlay-olgasus { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(238, 238, 238, 0.95); z-index: 9996; } }

.header-accessories { display: none; }

#page { -webkit-transition: all 0.35s linear; -moz-transition: all 0.35s linear; transition: all 0.35s linear; position: relative; left: 0; }

.page-content, .entry-content { margin: 2em 0 0; max-width: 1200px; margin-left: auto; margin-right: auto; }
.page-content::after, .entry-content::after { clear: both; content: ""; display: block; }
@media screen and (max-width: 1170px) { .page-content, .entry-content { padding-right: 1.25rem; padding-left: 1.25rem; } }
@media screen and (max-width: 991px) { .page-content, .entry-content { margin-top: 1em; } }
@media screen and (max-width: 767px) { .page-content, .entry-content { padding-right: 10px; padding-left: 10px; } }

.entry-content { max-width: 1100px; margin-left: auto; margin-right: auto; }
.entry-content::after { clear: both; content: ""; display: block; }
@media screen and (max-width: 767px) { .entry-content { padding-left: 20px; padding-right: 20px; } }

.page-content .product, .entry-content .product { max-width: 1100px; margin-left: auto; margin-right: auto; }
.page-content .product::after, .entry-content .product::after { clear: both; content: ""; display: block; }

.half { float: left; display: block; margin-right: 2.3576520234%; width: 48.8211739883%; }
.half:last-child { margin-right: 0; }
@media screen and (max-width: 767px) { .half { float: left; display: block; margin-right: 2.3576520234%; width: 100%; }
  .half:last-child { margin-right: 0; } }

.three-col { float: left; display: block; margin-right: 2.3576520234%; width: 31.7615653177%; }
.three-col:last-child { margin-right: 0; }
@media screen and (max-width: 767px) { .three-col { float: left; display: block; margin-right: 2.3576520234%; width: 100%; }
  .three-col:last-child { margin-right: 0; } }

@media screen and (max-width: 767px) { .hidden-xs { display: none !important; } }

.home-banner { min-height: 200px; height: 470px; height: calc(100vh - 210px); background-color: #eee; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
@media screen and (max-width: 991px) { .home-banner { height: 720px; } }
@media screen and (max-width: 767px) { .home-banner { height: 480px; } }
@media screen and (max-width: 480px) { .home-banner { height: 320px; } }
@media screen and (min-width: 1367px) { .home-banner { height: 720px; height: calc(100vh - 295px); } }

.page-hero { text-align: center; margin-bottom: 2.5rem; }
.page-hero .page-hero-title { margin: 0; word-wrap: break-word; }
.page-hero p { font-size: 0.9rem; font-weight: 100; }
@media screen and (max-width: 767px) { .page-hero { padding: 5px; padding-top: 20px; margin-bottom: 2rem; }
  .page-hero p { margin-bottom: 0; } }

.page-hero-title { letter-spacing: 0.5125rem; }
@media screen and (max-width: 767px) { .page-hero-title { font-size: 1.25rem; } }

/*# sourceMappingURL=style.css.map */
=======
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

/* CUSTOM */
/* HELPERS */
/* BASIC COLOR */
/* FONTS */
/* FONT WEIGHT */
/* MIXINS */
.page-hero-title { font-weight: 100; letter-spacing: .3125rem; }
@media screen and (max-width: 767px) { .page-hero-title { letter-spacing: 0.125rem; } }

header .menu-toggle { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; background: #4E4D4D; color: #fff; text-transform: uppercase; border: 1px solid #4E4D4D; padding: 0.625rem 0.9375rem; box-shadow: none; text-shadow: none; }
header .menu-toggle:hover, header .menu-toggle:focus, header .menu-toggle:active { outline: none; box-shadow: none; text-shadow: none; background: #5b5a5a; border-color: #5b5a5a; }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }

.mb-2 { margin-bottom: 1rem !important; }

.w-100 { width: 100% !important; }

.px-5 { padding-left: .5rem; padding-right: .5rem; }

.h-42 input { height: 50px; }

.br-0 input { border-radius: 0; }

.three-col.mx-0.mb-2.px-5.h-42.br-0 { width: 33.33%; }

.olga-section-title { display: inline-block; position: relative; margin-bottom: 35px !important; }

.has-line:after { content: ""; width: 54px; height: 2px; position: absolute; background: #7b7b7b; bottom: 0; left: 0; }

.text-left { text-align: left; }

.has-line-border { position: relative; }
.has-line-border span { background: #fff; padding: 0 30px; z-index: 9; position: relative; }
.has-line-border:after { content: ""; height: 1px; width: 100%; background: #eee; position: absolute; left: 0; bottom: 14px; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-x: hidden; }
html.js { margin-top: 0 !important; }

body { margin: 0; overflow-x: hidden; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; color: #4E4D4D; text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; color: #4E4D4D; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

body { background: #fff; /* Fallback for when there is no custom background color defined. */ }
@media screen and (max-width: 767px) { body { overflow-x: hidden; } }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

ul, ol { margin: 0 0 1.5em 3em; }

ul { list-style: disc; }

ol { list-style: decimal; }

li > ul, li > ol { margin-bottom: 0; margin-left: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] { border: 1px solid; border-color: #ccc #ccc #bbb; border-radius: 3px; background: #e6e6e6; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); color: rgba(0, 0, 0, 0.8); font-size: 12px; font-size: 0.75rem; line-height: 1; padding: .6em 1em .4em; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { border-color: #ccc #bbb #aaa; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { border-color: #aaa #bbb #bbb; box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { color: #666; border: 1px solid #ccc; border-radius: 3px; padding: 3px; }

select { border: 1px solid #ccc; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #111; }

textarea { width: 100%; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation { clear: both; display: block; float: left; width: 100%; }

.main-navigation ul { display: none; list-style: none; margin: 0; padding-left: 0; }

.main-navigation li { float: left; position: relative; }

.main-navigation a { display: block; text-decoration: none; }

.main-navigation ul ul { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); float: left; position: absolute; top: 1.5em; left: -999em; z-index: 99999; }

.main-navigation ul ul ul { left: -999em; top: 0; }

.main-navigation ul ul a { width: 200px; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul { left: auto; }

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul { left: 100%; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul { display: block; }

@media screen and (min-width: 991px) { .menu-toggle { display: none; }
  .main-navigation ul { display: block; } }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation { margin: 0 0 1.5em; overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

#wpadminbar { display: none; }

body { font-family: "Raleway", "Trebuchet Ms", sans-serif; color: #4E4D4D; line-height: 1.5; }

p { margin-bottom: 1.5em; line-height: 1.4; font-weight: 100; }

ins { text-decoration: none; }

b, strong { font-weight: 500; }

.preloader { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.99); z-index: 9999999; }

.icon-credit { position: absolute; top: 50%; -webkit-animation: scale 2s ease infinite; -o-animation: scale 2s ease infinite; -o-animation: scale 2s ease infinite; animation: scale 2s ease infinite; font-size: 50px; color: #1a1a1a; z-index: 99999999; width: 100%; text-align: center; }
.icon-credit img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@-webkit-keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
@-moz-keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
@keyframes scale { 0% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; }
  50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); opacity: 0; } }
/* .position-fixed{
	@include position(fixed, 0 0 null 0);
} */
#page { -webkit-transition: width 0.35s ease-in-out; -moz-transition: width 0.35s ease-in-out; transition: width 0.35s ease-in-out; }

.overlayed { /* #page{
	@include transform(translate(220px, -60px));
	width: calc(100% - 220px);
} */ }
@media screen and (max-width: 991px) { .overlayed .site-header { top: -55px !important; } }

.position-fixed.site-header { position: fixed; top: -40px; right: 0; left: 0; z-index: 9997; background: #fff; padding-top: 40px; }
@media screen and (max-width: 991px) { .position-fixed.site-header { padding-top: 20px; top: 0; } }
.position-fixed.site-header .site-branding { /*  @include position(fixed, -100px null null null); width: 120px; opacity:0; top: -20px; height:0; padding-top:0; */ display: none; }
.position-fixed.site-header .site-branding-small { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s; opacity: 1; visibility: visible; position: fixed; top: 10px; }
@media screen and (max-width: 991px) { .position-fixed.site-header .site-branding-small { display: none; } }
@media screen and (max-width: 991px) { .position-fixed.site-header .site-branding { opacity: 1; position: relative; padding-top: 20px; opacity: 1; visibility: visible; text-align: center; padding-bottom: 10px; top: -20px; } }
.position-fixed .main-navigation { text-align: center; z-index: 1000; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
@media screen and (max-width: 991px) { .position-fixed .main-navigation .menu-toggle { position: fixed; top: 10px !important; } }
@media screen and (min-width: 1367px) { .position-fixed .main-navigation { margin-bottom: 0; } }
@media screen and (max-width: 991px) { .position-fixed .header-accessories { /*  top: 50px; right: 0; background: darken($white, 5%);
 > div{ 	&.ha-holder{ 		display: block; 		padding: 5px 0;
 		#user-account{ 			top: 0; 			right: 20px; 		}
 		span{ 			&.cart-counter{ 				top: -2px; 				right: 0; 			} 		} 	} } */ } }
.position-fixed .header-accessories .ha-holder { padding: 7px 0; }
.position-fixed .header-accessories .ha-holder span.cart-counter { top: 10px; }

.site-header { -webkit-transition: all 0.35s linear; -moz-transition: all 0.35s linear; transition: all 0.35s linear; background: #fff; z-index: 9997; }
.site-header img { max-width: 600px; margin: 0 auto; }
.site-header .site-branding { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; position: relative; padding-top: 20px; opacity: 1; visibility: visible; text-align: center; padding-bottom: 10px; top: 0; }
.site-header .site-branding-small { -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; -webkit-transition-delay: 0.15s; -moz-transition-delay: 0.15s; transition-delay: 0.15s; position: fixed; top: -30px; left: 10px; opacity: 0; visibility: hidden; }
.site-header .site-branding-small img { width: 120px; }
@media screen and (max-width: 991px) { .site-header .site-branding { padding-top: 17px; padding-bottom: 14px; } }
@media screen and (min-width: 1367px) { .site-header .site-branding img { max-width: 500px; padding-top: 50px; padding-bottom: 10px; } }
@media screen and (max-width: 991px) { .site-header .site-branding img { width: 120px; } }
@media screen and (max-width: 991px) { .site-header { border-bottom: 1px solid #eee; } }

header .main-navigation { background: #fff; }
@media screen and (min-width: 1367px) { header .main-navigation { margin-bottom: 10px; } }
header .main-navigation > div { display: table; margin: 0 auto; position: relative; }
header .main-navigation > div ul { text-align: center; }
header .main-navigation > div ul li { display: inline; }
header .main-navigation > div ul li a { color: #4E4D4D; padding: 10px 15px; text-transform: uppercase; font-size: 13px; letter-spacing: 2px; font-weight: 100; }
@media screen and (min-width: 1367px) { header .main-navigation > div ul li a { font-size: 15px; } }
header .main-navigation.toggled .menu-toggle { left: 225px; top: 65px; }
@media screen and (max-width: 991px) { header .main-navigation.toggled ul { position: fixed; top: 0; right: auto; bottom: 0; left: 0px; border-right: 1px solid #eee; width: 220px; background: #fff; z-index: 9999; }
  header .main-navigation.toggled ul li { display: block; width: 100%; text-align: left; border-bottom: 1px solid #eee; } }
header .menu-toggle { position: absolute; top: 11px; left: 18px; z-index: 999; padding: 0; height: 30px; width: 30px; -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; color: #4E4D4D; font-size: 24px; background: none; border: none; }
header .menu-toggle:hover, header .menu-toggle:focus, header .menu-toggle:active { background: none; border: none; }

.header-accessories { position: absolute; right: 15px; }
.header-accessories > div.ha-holder { display: inline-block; width: 24px; font-size: 13px; padding: 0; text-align: center; position: relative; z-index: 2; }
@media screen and (max-width: 767px) { .header-accessories > div.ha-holder { width: 22px; } }
.header-accessories > div.ha-holder > a { width: 22px; height: 22px; display: block; }
.header-accessories > div.ha-holder span.cart-counter { position: absolute; top: 7px; right: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; font-size: 11px; color: #fff; width: 18px; height: 18px; line-height: 17px; z-index: 1; }
@media screen and (max-width: 991px) { .header-accessories > div.ha-holder span.cart-counter { top: 3px; } }
@media screen and (max-width: 767px) { .header-accessories > div.ha-holder span.cart-counter { right: 2px; } }
.header-accessories > div.ha-holder #user-account { position: absolute; top: 120%; right: 0; -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; transition: all 0.25s linear; opacity: 0; visibility: hidden; width: 120px; background: #fff; border: 1px solid #eee; text-transform: uppercase; letter-spacing: 1.5px; z-index: 99; }
.header-accessories > div.ha-holder #user-account.open { display: block; }
.header-accessories > div.ha-holder #user-account ul { margin: 0; padding-left: 0; list-style-type: none; }
.header-accessories > div.ha-holder #user-account ul li { text-align: left; padding-left: 10px; }
.header-accessories > div.ha-holder #user-account ul li a { color: #4E4D4D; display: block; text-decoration: none; line-height: 2; }
.header-accessories > div.ha-holder #accountToggler { position: relative; }
@media screen and (min-width: 992px) { .header-accessories > div.ha-holder { padding-top: 5px; } }
@media screen and (min-width: 1367px) { .header-accessories > div.ha-holder { font-size: 15px; padding-top: 7px; } }
.header-accessories > div.ha-holder:nth-child(2):hover #user-account { opacity: 1; visibility: visible; top: 80%; }
@media screen and (max-width: 991px) { .header-accessories { top: 12px; } }

#search-wrapper { display: none; margin-top: 39px; }
@media screen and (max-width: 991px) { #search-wrapper { margin-top: 0; } }
#search-wrapper .search-group { display: table; width: 100%; position: relative; }
#search-wrapper .search-group input, #search-wrapper .search-group button, #search-wrapper .search-group input[type='submit'] { display: table-cell; width: 100%; margin-bottom: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; height: 40px; font-size: 15px; }
#search-wrapper .search-group input[type='search'] { padding-right: 50px; -webkit-appearance: none; }
#search-wrapper .search-group input[type='search']:focus, #search-wrapper .search-group input[type='search']:active { -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; }
#search-wrapper .search-group button, #search-wrapper .search-group input[type='submit'] { position: absolute; top: 0; right: 0; bottom: 0; -moz-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-shadow: none; text-align: center; width: 50px; background: #4E4D4D; color: #fff; border-color: #4E4D4D; }
#search-wrapper .search-group button i, #search-wrapper .search-group input[type='submit'] i { vertical-align: top; margin-top: -2px; }

@media screen and (max-width: 991px) { .site-content { margin-top: 55px; } }

@media screen and (max-width: 991px) { #overlay-olgasus { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(238, 238, 238, 0.95); z-index: 9996; } }

.header-accessories { display: none; }

#page { -webkit-transition: all 0.35s linear; -moz-transition: all 0.35s linear; transition: all 0.35s linear; position: relative; left: 0; }

.page-content, .entry-content { margin: 2em 0 0; max-width: 1200px; margin-left: auto; margin-right: auto; }
.page-content::after, .entry-content::after { clear: both; content: ""; display: block; }
@media screen and (max-width: 1170px) { .page-content, .entry-content { padding-right: 1.25rem; padding-left: 1.25rem; } }
@media screen and (max-width: 991px) { .page-content, .entry-content { margin-top: 1em; } }
@media screen and (max-width: 767px) { .page-content, .entry-content { padding-right: 10px; padding-left: 10px; } }

.entry-content { max-width: 1100px; margin-left: auto; margin-right: auto; }
.entry-content::after { clear: both; content: ""; display: block; }
@media screen and (max-width: 767px) { .entry-content { padding-left: 20px; padding-right: 20px; } }

.page-content .product, .entry-content .product { max-width: 1100px; margin-left: auto; margin-right: auto; }
.page-content .product::after, .entry-content .product::after { clear: both; content: ""; display: block; }

.half { float: left; display: block; margin-right: 2.35765%; width: 48.82117%; }
.half:last-child { margin-right: 0; }
@media screen and (max-width: 767px) { .half { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  .half:last-child { margin-right: 0; } }

.three-col { float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }
.three-col:last-child { margin-right: 0; }
@media screen and (max-width: 767px) { .three-col { float: left; display: block; margin-right: 2.35765%; width: 100%; }
  .three-col:last-child { margin-right: 0; } }

@media screen and (max-width: 767px) { .hidden-xs { display: none !important; } }

.home-banner { min-height: 200px; height: 470px; height: calc(100vh - 210px); background-color: #eee; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-attachment: scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
@media screen and (max-width: 991px) { .home-banner { height: 720px; } }
@media screen and (max-width: 767px) { .home-banner { height: 480px; } }
@media screen and (max-width: 480px) { .home-banner { height: 320px; } }
@media screen and (min-width: 1367px) { .home-banner { height: 720px; height: calc(100vh - 295px); } }

.page-hero { text-align: center; margin-bottom: 2.5rem; }
.page-hero .page-hero-title { margin: 0; word-wrap: break-word; }
.page-hero p { font-size: 0.9rem; font-weight: 100; }
@media screen and (max-width: 767px) { .page-hero { padding: 5px; padding-top: 20px; margin-bottom: 2rem; }
  .page-hero p { margin-bottom: 0; } }

.page-hero-title { letter-spacing: 0.5125rem; }
@media screen and (max-width: 767px) { .page-hero-title { font-size: 1.25rem; } }

/*# sourceMappingURL=style.css.map */
>>>>>>> f645345c12f2d889cbe327a280b50e2861e9a64b
