body{
    font-family : $primary-font;
    color: $primary-color;
    line-height: 1.5;
}

p{
	margin-bottom: 1.5em;
	line-height: 1.4;
	font-weight: 100;
}

ins{
	text-decoration: none;
}

b,
strong{
	font-weight: 500;
}