.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.mb-2 {
	margin-bottom: 1rem !important;
} 

.w-100 {
	width: 100% !important;
}

.px-5 {
	padding-left: .5rem;
	padding-right: .5rem;

}

.h-42 input {
	height: 50px;
} 

.br-0 input {
	border-radius: 0;
}
.three-col.mx-0.mb-2.px-5.h-42.br-0 {
    width: 33.33%;
}

.olga-section-title { 
    display: inline-block;
    position: relative;
    margin-bottom: 35px !important;
}

.has-line {
	&:after {
		content: "";
	    width: 54px;
	    height: 2px;
	    position: absolute;
	    background: #7b7b7b;
	    bottom: 0;
	    left: 0;
	}
}

.text-left {
	text-align: left;
}

.has-line-border{
	position: relative;
	span{
		background: #fff;
		padding: 0 30px;
		z-index: 9;
    	position: relative;
	}
	&:after {
	    content: "";
	    height: 1px;
	    width: 100%;
	    background: #eee;
	    position: absolute;
	    left: 0;
	    bottom: 14px;
	}
}