%title-style{
	font-weight: 100;
	letter-spacing: .3125rem;
	
	@include media($tablet) {
		letter-spacing: rem(2);
	}
}

%btn{
	@include border-radius(0);
	background: $primary-color;
	color: $white;
	text-transform: uppercase;
	border: 1px solid $primary-color;
	padding: rem(10) rem(15);
	box-shadow: none;
	text-shadow: none;

	&:hover,
	&:focus,
	&:active{
		outline: none;
		box-shadow: none;
		text-shadow: none;
		background: lighten($primary-color, 5%);
		border-color: lighten($primary-color, 5%);
	}
}

%woocommerce-msg{
	border: 3px solid $primary-color;
	background: $primary-color;
	color: $grey;
	font-size: 0.9rem;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
}

@include keyframes(spin){
	100%{-webkit-transform:rotate(360deg)}
}