   
/* BASIC COLOR */
$color_header         : #4b5669 !default;
$color_white          : #fff !default;
$color_black          : #000 !default;
$color_success        : #6bc452 !default;
$color_error          : #F04124 !default;
$color_floating_timer : #6964A1 !default;

$primary-color: #4E4D4D;

$black: #000;
$white: #fff;
$grey: #eee;

$green: #92c5a1;
$green-dark: darken($green, 7%);

$dark-grey: #a9acad;

/* FONTS */
$primary-font   : 'Raleway', 'Trebuchet Ms', sans-serif;

/* FONT WEIGHT */
$font_weight_light  : 300;
$font_weight_normal : 400;
$font_weight_bold   : 600;

$desktop: new-breakpoint(min-width 1367px);
$desktop-md: new-breakpoint(min-width 992px);
$ondesktop: new-breakpoint(max-width 1170px);
$ontablet: new-breakpoint(max-width 991px);
$tablet: new-breakpoint(max-width 767px);
$smallmobile: new-breakpoint(max-width 480px);
