// BROWSER RESET 
@mixin reset(){
    *{
        margin:0;
        padding:0;
    }
    a{
        color:inherit;
        &:hover, &:active, &:focus, &:visited
            {
            text-decoration:none;
            color:inherit;
            outline:none;
        }
    }
    ul{
        margin:0;
        paddin:0;
    }
    h1,h2,h3,h4,h5,h6,p{
        margin:0;
        padding:0;
        color:inherit;
    }

    html|* > svg {
        transform-origin: 0 0 0px;
    }
    svg,input,button{

        &:focus, &:hover, &active{
            outline: none;
        }
    }
}// reset browser 
