@mixin after-border($length: 50px, $color: $dark-grey){
	&:after{
		@include position(absolute, null 0 0 0);
		@include size($length 1px);
		@include margin(null auto null auto);
		content: "";
		background: $color;
	}
}

@mixin hvcenter(){
	@include position(absolute, 50% null null 50%);
	@include transform(translate(-50%, -50%));
}
