footer{
	@include outer-container();
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid $grey;

	@include media($ondesktop) {
		@include margin(null rem(20));
	}

	@include media($tablet) {
		margin-top: 30px;
	}

	.footer-widget{
		@include clearfix();
		text-align: center;
		> div{
			display: inline-block;
			width: 22%;
			float: left;
			vertical-align: top;

			@include media($tablet) {
				width: 100%;
			}

			&:first-of-type{
				width: 33%;
				@include media($tablet) {
					width: 100%;
				}
			}

			h2.widget-title{
				@include after-border;
				padding-bottom: 10px;
				position: relative;
				font-weight: 100;
				font-size: 1rem;
				letter-spacing: 0.2125rem;
				color: $primary-color;
			}

			p,
			.textwidget{
				font-size:0.9rem;
				line-height: 1.45;

				strong{
					font-weight: 500;
				}
			}

			.olgasus_payment_option_widget,
			.textwidget{
				img{
					width: 120px;
				}

				a{
					display: inline-block;
					width: 100%;
					img{
						width: 120px;
					}
				}
			}
		}
	}

	.site-info{
		font-size:0.8rem;
		line-height: 1.45;
		text-align: right;
		margin: 20px 0;
		font-weight: 500;
		
		@include media($tablet) {
			@include padding(null 10px);
			text-align: center;
			
			span{
				display: block;
			}
		}
	}

	.menu{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			a{
				font-size: 0.9rem;
				line-height: 1.45;
				text-decoration: none;
				color: $primary-color;
			}

			&:nth-child(2){
				margin-bottom: 15px;
			}
		}
	}
}

.social{
	a{
		color: $primary-color;
		font-size: 22px;
		padding-right: 5px;
	}
}