/* .position-fixed{
	@include position(fixed, 0 0 null 0);
} */
#page{
	@include transition(width 0.35s ease-in-out);
}

.overlayed{

	.site-header{
		@include media($ontablet) {
			top: -55px !important;

			// &.position-fixed{
			// 	.header-accessories{
			// 		@include media($tablet) {
			// 			display: none;
			// 		}
			// 	}
			// }
		}
	}
	
	/* #page{
		@include transform(translate(220px, -60px));
		width: calc(100% - 220px);
	} */
}

.position-fixed{
	&.site-header{
		@include position(fixed, -40px 0 null 0);
		z-index: 9997;
		background: $white;
		padding-top: 40px;

		@include media($ontablet) {
			padding-top: 20px;
			top: 0;
		}

		.site-branding{
			/*  @include position(fixed, -100px null null null);
			 width: 120px;
			 opacity:0;
			 top: -20px;
			 height:0;
			 padding-top:0; */
			display: none;

			&-small{
				@include transition-delay(0s);
				opacity: 1;
				visibility: visible;
				@include position(fixed, 10px null null null);

				@include media($ontablet) {
					display: none;
				}
			}

			@include media($ontablet) {
				opacity: 1;
				// @include transform(rotate(-90deg));
				// top: 100px;
				// left: -38px;
				// width: 100px;
				// opacity: 1;
				// height: auto;

				// img{
				// 	opacity: 0.1;
				// }

				position: relative;
				padding-top: 20px;
				opacity:1;
				visibility: visible;
				text-align: center;
				padding-bottom: 10px;
				top: -20px;
			}
		}
	}

	.main-navigation{
		text-align: center;
		z-index: 1000;
		border-bottom: 1px solid rgba($black, 0.15);

		.menu-toggle{
			@include media($ontablet){
				position: fixed;
				top: 10px !important;
			}
		}

		@include media($desktop) {
			margin-bottom: 0;
		}
	}

	.header-accessories{
		@include media($ontablet) {
			/*  top: 50px;
			 right: 0;
			 background: darken($white, 5%);
			
			 > div{
			 	&.ha-holder{
			 		display: block;
			 		padding: 5px 0;
			
			 		#user-account{
			 			top: 0;
			 			right: 20px;
			 		}
			
			 		span{
			 			&.cart-counter{
			 				top: -2px;
			 				right: 0;
			 			}
			 		}
			 	}
			 } */
		}
		.ha-holder{
			padding: 7px 0;

			span{
				&.cart-counter{
					top: 10px;
				}
			}
		}
	}

	#search-wrapper{
		@include media($ontablet) {
			// margin-top: 17px;
			// margin-left: 50px;
			// margin-right: 23px;
		}
	}
}

.site-header{
	@include transition(all 0.35s linear);
	//@include position(fixed, 0 0 null 0);
	background: $white;
	z-index: 9997;

	img{
		max-width: 600px;
		margin: 0 auto;

		// @include media($ontablet) {
		// 	width : 120px;
		// }
	}

	.site-branding{
		@include transition(all 0.25s linear);
		// @include transition(top 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.28));
		position: relative;
		padding-top: 20px;
		opacity:1;
		visibility: visible;
		text-align: center;
		padding-bottom: 10px;
		top: 0;

		&-small{
			@include transition(all 0.25s linear);
			@include transition-delay(0.15s);
			position: fixed;
			top: -30px;
			left: 10px;
			opacity: 0;
			visibility: hidden;

			img{
				width: 120px;
			}
		}

		@include media($ontablet) {
			padding-top: 17px;
			padding-bottom: 14px;
		}

		img{
			@include media($desktop) {
				max-width: 500px;
				padding-top: 50px;
				padding-bottom: 10px;
			}

			@include media($ontablet) {
				width : 120px;
			}
		}
	}

	@include media($ontablet) {
		border-bottom: 1px solid $grey;
	}
}

header{
	.main-navigation{
		background: $white;

		@include media($desktop) {
			margin-bottom: 10px;
		}

		> div{
			display: table;
			margin: 0 auto;
			position: relative;

			ul{
				text-align: center;

				li{
					display: inline;

					a{
						color: $primary-color;
						padding: 10px 15px;
						text-transform: uppercase;
						font-size: 13px;
						letter-spacing: 2px;
						font-weight: 100;

						@include media($desktop) {
							font-size: 15px;
						}
					}
				}
			}
		}
		&.toggled{

			.menu-toggle{
				left: 225px;
				top: 65px;
			}

			ul{
				@include media($ontablet) {
					@include position(fixed, 0 auto 0 0px);
					border-right: 1px solid $grey;
					width: 220px;
					background: $white;
					z-index: 9999;

					li{
						display: block;
						width: 100%;
						text-align: left;
						border-bottom: 1px solid $grey;
					}
				}
			}
		}
	}
	.menu-toggle{
		@include position(absolute, 11px null null 18px);
		@extend %btn;
		z-index: 999;
		padding: 0;
		@include size(30px);
		@include box-shadow(none);
		color: $primary-color;
		font-size: 24px;
		background: none;
		border: none;


		&:hover,
		&:focus,
		&:active{
			// @include box-shadow(0 0px 24px 0 rgba($black, 0.17));
			background: none;
			border: none;
		}
	}
}

// header accessories
.header-accessories{
	@include position(absolute, null 15px null null);

	> div{
		&.ha-holder{
			display: inline-block;
			width: 24px;
			font-size: 13px;
			padding: 0;
			text-align: center;
			position: relative;
			z-index: 2;

			@include media($tablet) {
				width: 22px;
			}

			> a{
				width: 22px;
				height: 22px;
				display: block;
				// @include transform(scale(0.8));

				// @include media($desktop) {
				// 	@include transform(scale(1));
				// }

				// &#searchToggler{
				// 	background-image: url('assets/build/img/sprite-icon.png');
				// }

				// &#accountToggler{
				// 	background-image: url('assets/build/img/sprite-icon.png');
				// 	background-position: -26px 0;
				// }

				// &#miniCartToggler{
				// 	background-image: url('assets/build/img/sprite-icon.png');
				// 	background-position: -56px 0;
				// }
			}


			span{
				&.cart-counter{
					@include position(absolute, 7px 4px null null);
					@include border-radius(50%);
					font-size: 11px;
					color: $white;
					width: 18px;
					height: 18px;
					line-height: 17px;
					// background: rgba($black, 0.4);
					z-index: 1;

					@include media($ontablet) { top: 3px;}

					@include media($tablet) { right: 2px; }
				}
			}

			#user-account{
				@include position(absolute, 120% 0 null null);
				@include transition(all 0.25s linear);
				opacity: 0;
				visibility: hidden;
				width: 120px;
				background: $white;
				border: 1px solid $grey;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				z-index: 99;
				
				&.open{
					display: block;
				}

				ul{
					margin: 0;
					padding-left: 0;
					list-style-type: none;

					li{
						text-align: left;
						padding-left: 10px;

						a{
							color: $primary-color;
							display: block;
							text-decoration: none;
							line-height: 2;
						}
					}

				}
			}

			#accountToggler{
				position: relative;
			}

			@include media($desktop-md) {
				padding-top: 5px;
			}
			
			@include media($desktop) {
				font-size: 15px;
				padding-top: 7px;
			}

			&:nth-child(2):hover{
				#user-account{
					opacity: 1;
					visibility: visible;
					top: 80%;
				}
			}
		}
	}

	@include media($ontablet) {
		top: 12px;
	}
}

#search-wrapper{
	display: none;
	margin-top: 39px;
	// visibility: hidden;
	// opacity:0;
	@include media($ontablet) {
		margin-top: 0;
	}

	.search-group{
		display: table;
		width: 100%;
		position: relative;

		input,
		button,
		input[type='submit']{
			display: table-cell;
			width: 100%;
			margin-bottom:0;
			@include border-radius(0);
			height: 40px;
			font-size: 15px;
		}
		input[type='search']{
			padding-right: 50px;
			-webkit-appearance: none;

			&:focus,
			&:active{
				@include box-shadow(none);
				@include border-radius(0);
			}
		}
		button,
		input[type='submit']{
			@include position(absolute, 0 0 0 null);
			@include box-shadow(none);
			text-shadow:none;
			text-align: center;
			width: 50px;
			background: $primary-color;
			color: $white;
			border-color: $primary-color;

			i{
				vertical-align: top;
				margin-top: -2px;
			}
		}
	}
}

.site-content{
	@include media($ontablet) {
		margin-top: 55px;
	}
}

#overlay-olgasus{
	@include media($ontablet) {
		@include position(fixed, 0 0 0 0);
		background: rgba($grey, 0.95);
		z-index: 9996;
	}
}


.header-accessories {
	display: none;
}