.home-banner{
	min-height: 200px;
	height: 470px;
	height: calc(100vh - 210px);
	background-color: $grey;
	overflow: hidden;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	@include media($ontablet) {
		height: 720px;
	}

	@include media($tablet) {
		height: 480px;
	}

	@include media($smallmobile) {
		height: 320px;
	}

	@include media($desktop) {
		height: 720px;
		height: calc(100vh - 295px);
	}
}

.page-hero{
	text-align: center;
	margin-bottom: rem(40);

	.page-hero-title{
		margin: 0;
		word-wrap: break-word;
	}

	p{
		font-size: 0.9rem;
		font-weight: 100;
	}

	@include media($tablet) {
		padding: 5px;
		padding-top: 20px;
		margin-bottom: 2rem;

		p{
			margin-bottom: 0;
		}
	}
}

.page-hero-title{
	@extend %title-style;
	letter-spacing: 0.5125rem;
	@include media($tablet) {
		font-size: rem(20);
	}
}