.services-home{
	@include clearfix();
	padding: rem(20);
	text-align: center;
	// border-top: 1px solid $grey;
	// border-bottom: 1px solid $grey;

	p{
		font-size: 0.9rem;
		margin-top: -5px;
	}

	div.three-col{
		@include padding(null 20px);
		@include omega();
		border-right: 1px solid $grey;
		&:last-of-type{
			border-right: 0;
			@include media($tablet) {
				border-bottom: 0;
			}
		}
		@include media($tablet) {
			border-right: none;
			border-bottom: 1px solid $grey;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.section-title{
		@include media($tablet) {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}

	p{
		@include media($tablet) {
			margin-bottom: 0;
		}
	}

	@include media($tablet) {
		padding: 0;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.insta-holder{
	margin-top: rem(40);
	text-align: center;

	h2.section-title{
		margin: 0;
		background: #fff;
	}

	p{
		margin: rem(10) auto rem(10);
		font-size: 0.9rem;
	}
	
	#sb_instagram{
		.sbi_follow_btn a{
			@extend .btn-outline;
			@include margin(1.25rem null 0);
			color: #95989A;
			letter-spacing: 3px;
			padding-left: 20px;
			padding-right: 17px;
			border-color: #95989A;

			i.fa{
				display: none;
			}
		}

		#sbi_images .sbi_item{
			padding: 4px !important;

			@include media($smallmobile) {
				width: 50%;
			}

			a.sbi_photo{
				@include media($smallmobile) {
					height: 125px !important;
					overflow: hidden !important;
				}
			}
		}

		@include media($tablet) {
			width: 100% !important;
		}
	}

	@include media($tablet) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.desc-holder{
	text-align: center;
	margin-bottom: rem(40);

	@include media($tablet) {
		margin-bottom: 1rem;
	}

	h2.section-title{
		position: relative;
		@include after-border(50px, darken($grey, 10%));
		padding-bottom: 10px;
	}

	.desc-content{
		font-size: 0.9rem;
		@include media($desktop-md) {
			@include span-columns(6);
			@include shift(3);
		}
	}

	.contact-portion{
		@include span-columns(6);
		@include shift(3);
		text-align: center;
		font-size:0.9rem;
		line-height: 1.45;
		.half{
			padding: 10px 20px;
		}
		@include media($tablet){
			@include span-columns(12);
			@include shift(0);
		}
	}

	@include media($tablet) {
		margin-top: 2.5rem;
		padding-left: 10px; 
		padding-right: 10px; 
	}
}

.widget{
	margin-bottom: 1.5em;
}