.preloader{
	@include position(fixed, 0 0 0 0);
	width: 100%;
	height: 100%;
	background: rgba($white, 0.99);
	z-index: 9999999;
	
}

.icon-credit{
	@include position(absolute, 50% null null null);
	@include animation(scale 2s ease infinite);
	font-size:50px;
	color:lighten($black, 10%);
	z-index: 99999999;
	width:100%;
	text-align: center;

	img{
		@include position(absolute, 50% null null 50%);
		@include transform(translate(-50%, -50%));
	}
}

@include keyframes(scale){
	0% { @include transform(scale(0.5)); opacity:0;}
	50% {@include transform(scale(1)); opacity:1;}
	100% {@include transform(scale(0.5)); opacity:0;}
}
