.prdctfltr_wc{
    margin-bottom: 0;
    padding: 10px 20px;
    max-width: 1400px;
    margin: 0 auto;

    .prdctfltr_filter_title{
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 13px;
        margin-bottom: 0;
        color: lighten($primary-color, 10%);

        @include media($desktop-md) {
            display: none;
            margin-bottom: 0;
        }

        .prdctfltr_woocommerce_filter{
            vertical-align: top;
        }

        > span{
            font-size: 15px;
            color: $primary-color;
            display: none;

            &.prdctfltr_title_selected{
                color: $primary-color;
                font-size: 12px;
                font-weight: 400;
                background: darken($white, 2.5%);
                padding: 2px 5px 2px 15px;
                position: relative;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-right: 7px;

                a{
                    @include position(absolute, 50% null null 3px);
                    @include transform(translateY(-50%));
                    color: lighten($black, 5%);
                }

                .prdctfltr_title_selected_separator{
                    display: none;
                }
            }
            
        }

    }
    
    .prdctfltr_woocommerce_ordering{
        .prdctfltr_filter_inner{
            white-space: nowrap;
            overflow-x: auto;
        }

        .prdctfltr_filter{
            display: inline-block;
            margin-bottom: 5px;
            width: 16.66%;
            padding-bottom: 0;
            float: none;

            @include media($ontablet){
                width: 33.33%;
            }

            h2{
                margin-bottom: 5px;
            }

            .prdctfltr_add_scroll{
                height: 100px;
                overflow: hidden;
                margin-right: 15px;
            }

            .prdctfltr_regular_title{
                text-transform: uppercase;
                font-weight: 100;
                letter-spacing: 0.2125rem;
                margin-left: 14px;
                font-size: 15px;
            }

            .prdctfltr_checkboxes{
                padding-left: 15px;
            }
        }
    }

    &.prdctfltr_round{
        .prdctfltr_filter {
            label{
                > span:before{
                    width: 6px;
                    height: 6px;
                }

                &.prdctfltr_active{
                    > span:before{
                        background: #777;
                        width: 2px;
                        height: 2px;
                    }
                }
            }
        }
    }
    
    .prdctfltr_buttons{
        text-align: center;
        margin-top: 0 !important;
        padding-top: 0 !important;

        /* button.toggle-filter{
            @include transition(transform 0.25s linear);
            box-shadow: none;
            background: none;
            border: none;
            font-size: 22px;
            text-transform: uppercase;
        
            &.rotate{
                @include transform(rotate(45deg));
            }
        } */
        
        > span{
            @include transition(all 0.35s linear);
            display: inline-block;
            margin-top: 20px !important;

            label{
                span{
                    &:before{
                        font-size: 17px !important;
                    }
                }
            }
        }   
    }
    
    &.pf_mod_row{
        .prdctfltr_filter_inner .prdctfltr_filter{
            width: 20% !important;
        }
    }
}

.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_filter_submit{
    @extend %btn;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 2px;
}

.woocommerce{
    .prdctfltr_wc{
        &.prdctfltr_always_visible.woocommerce{
            form.prdctfltr_woocommerce_ordering{
                @include transition(all 0.25s ease);
                @include media($ontablet) {
                    // display: none;
                    // display: inline-block;
                    width: 100%;
                    vertical-align: top;
                    height: 0;
                    opacity: 0;
                    @include transform-origin(top left);
                    @include transform(scaleY(0));

                    &.togglethis{
                        height: 100%;
                        opacity: 1;
                        @include transform(scaleY(1));
                    }
                }
            }
        }
    }
}