.woocommerce{
	ul.products{
		letter-spacing: -0.36em;

		li{
			&.product{
				width: 20%;
				float: none !important;
				display: inline-block;
				vertical-align: top;
				margin: 0;
				padding: 10px;
				text-align: center;
				letter-spacing: normal;
				word-wrap: break-word;

				figure{
					position: relative;
					margin-bottom: 0;
					overflow: hidden;
					background: lighten($grey, 5%);
					margin-bottom: 5px;

					.hidden-image{
						@include transition(all 0.35s linear);
						@include position(absolute, 0 0 0 0);
						opacity: 0;
						visibility: hidden;
						z-index: -1;

						img{
							@include transition(transform 0.35s linear);
							min-width: 380px;
							min-height: 400px;
						}
					}

					a{
						img{
							@include transition(transform 0.35s ease-in-out);
							width: 100%;
							vertical-align: middle;
							z-index:1;
							margin-bottom: 0;
						}
						
					}


					figcaption{
						@include position(absolute, null 0 -7px 0);
						@include transition(all 0.35s ease-in-out);
						text-align: left;
						// visibility: hidden;
						// opacity: 0;

						a{
							@include border-radius(0);
							@include size(30px);
							@incldue transition(color 0.35s ease-in-out);
							display: inline-block;
							background: white;
							font-size: 22px;
							color: lighten($black, 65%);
							line-height: 1.36;
							padding: 0;
							text-align: center;
							margin-bottom: 10px;
							margin-bottom: 12px;

							&.quickview{
								@include transition(all 0.35s ease-in-out);
								position: relative;
								margin-left: -50px;

								&.loading{
									i.fa{
										visibility: hidden;
									}

									&:after{
										content: '\e01c';
									    font-family: WooCommerce;
									    position: absolute;
									    left: 4px;
									    @include animation(spin 2s linear infinite);
									}
								}
							}

							&.button{
								@include position(absolute, null -50px 0 null);
								@include transition(all 0.35s ease-in-out);
								@include transition-delay(0.1s);

								&.loading{
									opacity: 1;

									i.fa{
										visibility: hidden;
									}

									&:after{
										top: 1px;
										right: 3px;
									}
								}

								&.added{
									display: none;
								}
							}

							&.added_to_cart{
								@include position(absolute, null -50px 0 null);
								@include transition(all 0.35s ease-in-out);
								@include transition-delay(0.1s);
								color: $color_success;
							}

							&:hover{
								color: lighten($black, 35%);
							}
						}
					}
				}


				h1{
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 0.2125rem;
					margin: 0;
					font-size: 16px;
					margin-top: 18px;
				}

				h3{
					@include transform(font-weight 0.25s ease-in-out);
					// text-transform: uppercase;
					font-weight: 100;
					font-size: 0.9rem;
					letter-spacing: 0.05rem;
					padding:0;
				}

				span.price{
					color: lighten($black, 20%);
					position: relative;
					font-size: 1.3rem;
					font-weight: 400;
					margin-top: 10px;

					del{
						display: inline;
					}

					ins{
						font-weight: 400;
					}

					&:after{
						@include position(absolute, null 0 -4px -10px);
						content: '';
						height: 1px;
						width: 25px;
						background: #c7c7c7;
						margin-left: auto;
						margin-right: auto;
					}
				}

				&.first{
					clear: none;
				}

				.star-rating{
					display: none;
				}

				&:hover{
					figure{
						> a img{
							@include transform(scale(1.15));
							z-index: 3;
						}
						.hidden-image{
							display: block;
							opacity: 1;
							visibility: visible;
							z-index: 5;
							img{
								@include transform(scale(1.15));
							}
						}
						figcaption{
							// bottom: 0;
							// visibility: visible;
							// opacity: 1;
							z-index: 6;

							a.quickview{
								margin-left: 4px;
							}

							a.button,
							a.added_to_cart{
								right: 4px;
							}
						}
					}
				}

				@include media($ontablet) {
					width: 33.33%;
				}

				@include media($tablet) {
					width: 50%;
				}
			}
		}
	}

	span.onsale{
		@include border-radius(0);
		text-transform: uppercase;
		color: lighten($black, 10%);
		background: $white;
		position: absolute;
		top: 10px; right: 10px;
		margin: 0;
		min-height: auto;
		min-width: auto;
		max-width: 80px;
		letter-spacing: normal;
		padding: 6px 10px;
		line-height: 1;
		font-size: 13px;
		z-index: 9;
	}

}