.single-product{
	font-family: $primary-font;

	.woocommerce-message{
		display: none !important;
	}

	a{
		&:hover,
		&:focus,
		&:active{
			color: $black;
		}
	}
}

.archive{
	.woocommerce-message{
		display: none !important;
	}
}

.woocommerce,
#ajax-product-popup{
	.product,
	#ajax-product-content{
		.woocommerce-product-rating{
			display: none;
		}

		.entry-summary{
			h1{
				text-transform: uppercase;
				font-weight: 100;
				letter-spacing: 0.3125rem;
				margin: 0;
				margin-top: -10px;
				font-size: 35px;
				word-wrap: break-word;
			}

			.entry-title{
				// text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 0.3125rem;
				font-size: 22px;
				margin: 0;

			}
			h3{
				&.entry-title{
					letter-spacing: 0.3125rem;
					font-weight: 100;
					margin-bottom:5px;
					font-size: 16px;
				}
			}

			p.price,
			span.price{
				color: $black;
				font-weight: 500;
				font-size: 1.5rem;
				margin: 0;

				ins{
					font-weight: 400;
				}
			}

			.out-of-stock{
				border-top: 1px solid $grey;
				padding-top: 10px;
				margin-bottom: 10px;
			}

			form{
				&.cart{
					border-top: 1px solid $grey;
					margin-top: 20px;
					padding-top: 20px;

					.variations{
						margin-bottom: 0 !important;

						select{
							@include border-radius(0);
							background: $white;
							text-transform: uppercase;
							margin-bottom: 10px;
							max-width: 163px;
							min-width: 100px;
						}
					}


					.qty{
						line-height: 1.32;
						height: 36px;
					}

					.single_variation{
						margin-bottom: 10px;
					}
				}
			}

			button{
				&.button{
					@extend %btn;
					font-weight: 300;
					font-size: 12px;
					height: 36px;
					padding: 0 15px;
					background-color: $green;
					border-color: $green-dark;
					font-weight: 600;
					border: none;

					&:hover,
					&:focus,
					&:active{
						background-color: $green-dark;
						border-color: $green-dark;
					}
				}
			}

			.product_meta{
				font-size: 0.9rem;

				span{
					display: block;
					font-weight: 600;

					a{
						font-weight: 400;
						text-decoration: none;
					}
				}

				.sku{
					display: inline-block;
					font-weight: 400;
				}

				&_attributes{
					h3{
						display: inline-block;
						font-size: 0.9rem;
						margin: 0 5px 0 0;
					}
				}
			}

			.product_meta_attributes{
				font-size: 0.9rem;

				span{
					display: inline-block;
					font-weight: 600;

					a{
						font-weight: 400;
						text-decoration: none;
					}
				}
			}

			div[itemprop='description']{
				padding-bottom: 0;
				margin-bottom: 10px;
				margin-top: 10px;
				/* border-bottom: 1px solid $grey;*/
				border-top: 1px solid $grey;
				font-size: 0.9rem;

				p{
					margin-bottom: 20px;
					margin-top: 20px;
				}
			}

			.wpallshare-theme4{
				ul{
					margin-left: 0;
					margin-top: 5px;

					li{
						a{
							@include transition(color 0.25s ease-in-out);
							background: none;
							color: lighten($primary-color, 30%) !important;
							padding: 0;
							letter-spacing: 10px;

							&:hover,
							&:focus,
							&:active{
								color: lighten($primary-color, 15%) !important;
							}
						}
					}
				}
				.tooltip{
					display: none;
				}
			}
		}

		.woocommerce-tabs{
			.panel{
				font-size: 0.9rem;
				max-width: 800px;
				margin-left: auto !important;
				margin-right: auto !important;

				@include media($desktop){
					font-size: 14px;
				}

				h2{
					@extend %title-style;
					letter-spacing: 1px;
					text-transform: uppercase;
					font-size: 15px;
				}

			}
		}

		div.images{
			overflow: hidden;
			margin-bottom:0;
			display: flex;
			align-items: flex-start;
			align-content: flex-start;
			position: relative;

			div.thumbnails{
				white-space: nowrap;
				overflow: hidden;
				// overflow-y: auto;
				width: 100%;
				margin-top: 0 !important;
				padding-top: 0 !important;
				width: 120px;
				max-height: 540px;
				// cursor: move;
				position: relative;

				.pt-nav{
					position: absolute;
					left: 0; right: 0;
					width: 100%;
					text-align: center;
					color: $white;

					&#product-thumb-prev{
						@include transform(rotate(90deg));
						top:0;
					}

					&#product-thumb-next{
						@include transform(rotate(-90deg));
						bottom:0;
					}
				}

				a{
					width: 25% !important;
					display: inline-block !important;
					float: none !important;
					margin-right: 3.8%;

					&.last{
						margin-right: 3.8% !important;
					}
				}

				div.product-img-thumb{
					cursor: pointer;
					opacity: 0.5;
					@include transition(opacity 0.25s ease);

					&.active-img{
						opacity: 1;
						img{
							opacity:1;
							border: none;
						}
					}

					&:hover{
						opacity: 0.85;
					}
					
					&:last-of-type{
						margin-bottom: 0;
					}
				}

				@include media($tablet) {
					max-height: 320px !important;
					width: 80px;
				}
			}

			.no-caroufredsel{
				.product-thumbnail-paginattion{
					display: none;
				}
			}

			div.thumbnails{

				position:relative;
				//padding: 1em;
		    	margin-top: 25px;

		    	div.product-img-thumb{
		    		display: block;
		    		width: 110px;
		    		height: 150px;
					float: left;
					margin-right:10px;
					margin-bottom: 10px;

					@include media($tablet) {
						width: 70px;
						height: 110px;
					}
		    	}

		    	/*div.product-img-thumb.item-visible:nth-child(4){
		    		margin-right: 0;
		    	}

		    	div.product-img-thumb.item-visible:first-child{
		    		margin-left: 0;
		    	}*/

				
				.active-img{
					>img{
						border:2px solid $primary-color;
					}
				}

				.last{
					margin-right:0;
				}
				
				.product-thumbnail-paginattion{
					i{
						font-size: 20px;
						cursor: pointer;
						&:hover{
							color: $primary-color;
						}
					}
					>span{
						position:absolute;
					}
					#product-thumb-next {
						left: 10px;
						top: 50%;
					}
					#product-thumb-prev {
						right: 10px;
						top: 50%;
					}

				}//.product-thumbnail-paginattion

				~ .easyzoom-wrap{
					width: calc(100% - 120px);

					@include media($tablet) {
						width: calc(100% - 80px);

						.easyzoom{
							.woocommerce-main-image{
								height: 320px;
							}
						}
					}
				}
			}

			.easyzoom-flyout{
				position: absolute;
				top: 0;
				bottom:0;
				right:0;
				left:0;
				img{
					max-width: initial;
					width: initial;
				} 
			}

			.easyzoom-wrap{
				// padding-right: 10px;
				width: 100%;
				// max-height: 500px;
				overflow: hidden !important;
			}

			.easyzoom{
				width: 100%;
				// padding-right: 10px;
				position: relative;
				overflow: hidden !important;
				cursor: crosshair;

				.easyzoom-notice{
					display: none !important;
				}

				@include media(xs) {
					padding-right: 0;
				}

				.woocommerce-main-image{
					@include transition(all 0s ease);
					display: block;
					height: 540px;
					background: #f0f0f0;
					overflow: hidden;

					@include media($tablet) {
						height: auto;
						max-height: 420px;
					}
				}
			}
		}
	}
}

#ajax-product-popup{
	.wpallshare{
		ul{
			padding-left: 0;
			list-style: none;
			li{
				display: inline-block;
			}
		}
		a{
			text-decoration: none;
			&.wpas-facebook{
				&:before{
					content: '\f09a';
				}
			}
			&.wpas-twitter{
				&:before{
					content: '\f099';
				}
			}
			&.wpas-pinterest{
				&:before{
					content: '\f0d2';
				}
			}
			&.wpas-mail{
				&:before{
					content: '\f199';
				}
			}
			&:before{
			    font-family: 'fontAwesome' !important;
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			}
		}
	}
}


.but{
	// position: absolute;
	// top:0; left:46px; bottom: 0;
	// z-index: 999;

	span{
		color: $white;
		font-size: 26px;
		cursor: pointer;
		width: 36px;
		text-align: center;

		&.next{
			position: absolute;
			top:0;
			left: 36px;
			z-index: 999;

			@include media($tablet) {
				left: 16px;
			}
		}

		&.prev{
			position: absolute;
			bottom: 0;
			left: 36px;
			position: absolute;
			z-index: 999;

			@include media($tablet) {
				left: 16px;
			}
		}
	}


}


.woocommerce div.product .stock{
	display: none !important;
}

label.wcva_single_textblock {
   text-align: center;
   width: auto;
   padding: 0 10px;
   line-height: 30px;
   color: black;
   border: solid 1px #d8d8d8 !important;
   outline: solid 0px #b7b7b7 !important;
   background: #fff;
   font-size: 14px;
   font-weight: 500 !important;
   border-radius: 0%;
   display:inline-block;
}

.variations {

	.attribute-swatch{
		float:left;

		+ br{
		display: none;
		}
	}

	.reset_variations{
		float:left;
	}
}

.product-type-variable{
	div[itemprop="offers"]{
		> .price{
			display:none;
		}
	}
}

.variations_form {
	.single_variation_wrap{
		.rh-variation-price{
			.price{
				display:block !important;
			}
		}
	}  
}  