div.products{
	&.related,
	&.upsells{
		@include outer-container();
		@include clearfix();
		@include transition (all 0.25s ease);

		&:before{
			content: '';
			display: table;
			clear: both;
		}

		@include media($tablet) {
			@include padding(null rem(20));
			margin-left: -10px;
			margin-right: -10px;
		}

		h2{
			@include after-border();
			text-align: center;
			text-transform: uppercase;
			padding-bottom: 10px;
			position: relative;
			font-weight: 100;
			font-size: 20px;
			letter-spacing: 0.3125rem;
			color: $primary-color;
		}

		ul.products{
			li{
				&.product{
					width: 25%;

					@include media($ontablet) {
						width: 50%;
					}

					figure .hidden-image img{
						min-width: 380px;
						min-height: 400px;
					}
				}
			}
		}

		@include media($tablet) {
			padding-left: 0;
			padding-right: 0;
		}

		.page-content{
			@include media($tablet) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}