.woocommerce{
	.woocommerce-checkout{
		h3{
			@extend %title-style;
			@include after-border();
			position: relative;
			text-transform: uppercase;
			padding-bottom: 5px;
			letter-spacing: 1px;

			&:after{
				margin-left: 0;
			}

			&#order_review_heading{
				width: 39%;
				float: right;
				margin-left: 10px;

				@include media($tablet) {
					width: 100%;
					float: none;
					margin-top: 40px;
				}
			}
		}

		.col2-set{
			@include media($desktop-md) {
				width: 60%;
				float: left;
				padding: 0 10px 10px 0;

				.col-1,
				.col-2{
					width: 100%;
					float: left;
				}
			}

			@include media($tablet) {
				.col-2{
					margin-top: 40px;
				}
			}
		}

		.woocommerce-checkout-review-order{
			@include media($desktop-md) {
				width: 40%;
				float: right;
				padding: 10px;
			}
		}

		#payment{
			@include border-radius(0);
			background: $white;
			border: 1px solid rgba($black, 0.1);

			ul{
				&.payment_methods{
					border-bottom-color: rgba($black, 0.1);
				}
			}
		}
	}
}


.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last,
.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first{
	float: none;
	width: 100%;
}