.error-404{
	@include outer-container();
	text-align: center;
	padding-top: 60px;

	.page-header{
		position: relative;

		h1{
			font-weight: 400;
			text-transform: uppercase;
		}

		&:after{
			@include hvcenter();
			content: "\f127";
			font-family: 'fontAwesome';
			font-size: 160px;
			color: rgba($black, 0.02);
		}
	}

	form.search-form{
		max-width: 600px;
		margin: 20px auto;

		input[type='search']{
			@include border-radius(0);
			width: 80%;
			height: 34px;
		}

		.search-submit{
			@extend %btn;
		}
	}

	@include media($tablet){
		@include padding(null rem(20));
	}
}


