.leave-message-title{
	@include span-columns(11);
	@include shift(1);
	@include after-border();
	position: relative;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1.5px;

	&:after{
		margin-left: 0;
		width: 25px;
		bottom: -3px;

		@include media($tablet) {
			margin-left: auto;
		}
	}

	@include media ($tablet) {
		@include span-columns(12);
		@include shift(0);
		text-align: center;
	}
}

.contact-form{
	@include span-columns(3);
	@include shift(1);
	
	@include media($tablet) {
	    @include span-columns(12);
	    @include shift(0);

	    text-align: center;
	    margin-bottom: 30px;

	    margin-left: 0;
	    padding-left: 10px;
	    padding-right: 10px;
    }

    .contact-submit{
    	@extend %btn;
    	// font-size: 0.9rem;
    }
}
.contact-address{
	@include span-columns(5);
	@include shift(1);
	text-align: center;
	font-size:0.9rem;
	line-height: 1.45;

	b{
		font-weight: 500;
	}

	@include media($tablet) {
	    @include span-columns(12);
	    @include shift(0);
    }

    .half{
    	&:last-of-type{
    		@include media($tablet) {
    			margin-top: 30px;
    		}
    	}
    }
}

div.wpcf7 .ajax-loader{
	display: none;
}

#olgasus-map{
	a[href^="http://maps.google.com/maps"],
	a[href^="https://maps.google.com/maps"],
	a[href^="https://www.google.com/maps"],
	div.gm-style-cc {
	    display: none !important;
	}
	.gmnoprint:not(.gm-bundled-control) {
	    display: none;
	}
	.gm-bundled-control .gmnoprint,
	.gm-svpc {
	    display: none;
	}
}