.woocommerce-account{
	h2{
		@extend %title-style;
		@include after-border;
		font-size: rem(15.2);
		text-align: center;
	}

	// login div
	form{
		&.login{
			max-width: 560px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-size: 13px;

			> p{
				&:first-of-type{
					margin-top: 10px;
				}

				&.lost_password{
					a{
						color: lighten($primary-color, 10%);
						padding-bottom: 4px;
						border-bottom: 1px dotted $grey;
					}
				}
			}
		}

		.form-row label.inline{
			display: block;
			margin-top: 10px;
		}
	}

	// Dashboard nav
	nav.woocommerce-MyAccount-navigation{
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;

			a{
				font-size: 0.9rem;
				font-weight: 500;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding: 10px 0;
				border-bottom: 1px solid $grey;
				display: block;

				@include media($desktop){
					font-size: 15px;
				}

				&:before{
					@include transition(padding 0.25s linear);
					content: ' - ';
					padding-right: 2px;
				}

				&:hover{
					&:before{
						padding-right: 5px;
					}
				}
			}
		}
	}

	//dashboard content
	.woocommerce-MyAccount-content{
		font-size: 0.9rem;
		> p{
			a{
				font-weight: 500;
				border-bottom: 1px dotted #eee;
				padding: 1px 5px;

				&:after{
					content: ' \2023';
				}
			}
		}

		mark{
			background: $grey;
			padding: 3px;
		}

		.woocommerce-MyAccount-orders{
			a.view{
				@extend %btn;
				font-size: 0.8rem;
				font-weight: 500;
				letter-spacing: 0.5px;
			}
		}

		a.edit{
			margin-top: 20px;
			font-size: 0.8rem;
			font-weight: 500;
			font-style: italic;
		}
	}
}